{% extends 'base.html' %}

{% block title %}
    Актеры фильма "Сваты"
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-3 ">
            <div id="carouselExampleFade" class="carousel slide carousel-fade mb-3">
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <img src="https://sun9-26.userapi.com/impg/SBnVP_e95736_9smf3LnOxjlYx13qtZ9bMScLg/Eotisw8vrUA.jpg?size=800x755&quality=96&sign=9a1551831a0d4ce370d03961cf564b79&c_uniq_tag=nQLOwhrn8R7l01njmZtHHxv1AUCVy24Ac9XKyqBAjAg&type=album" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                  <img src="https://rusradio.ru/uploads/e0/8c/fc8cb98360d20c896ab6493b25b6.png" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                  <img src="https://i.pinimg.com/originals/85/75/38/857538bb7f3c079529dc72982ff7e2d0.jpg" class="d-block w-100" alt="...">
                </div>
              </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Предыдущий</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Следующий</span>
              </button>
            </div>
        </div>
        <div class="col-xl-2 col-md-4">
            <div class="card text-bg-light mb-3" style="max-width: 18rem;">
              <div class="card-header">Актер</div>
              <div class="card-body">
                <h5 class="card-title">Фёдор Добронравов</h5>
                <p class="card-text">
                Дата рождения: 11.09.1961<br>
                Возраст: 63<br>
                Город: Таганрог<br>
                </p>
              </div>
            </div>
        </div>
        <div class="col-xl-2 col-md-4">
            <div class="card text-bg-light mb-3" style="max-width: 18rem;">
              <div class="card-header">Актер</div>
              <div class="card-body">
                <h5 class="card-title">Добрынин Николай</h5>
                <p class="card-text">
                Дата рождения: 17.08.1963<br>
                Возраст: 61<br>
                Город: Таганрог<br>
                </p>
              </div>
            </div>
        </div>
        <div class="col-xl-2 col-md-4">
            <div class="card text-bg-light mb-3" style="max-width: 18rem;">
              <div class="card-header">Актер</div>
              <div class="card-body">
                <h5 class="card-title">Кошмал Анна</h5>
                <p class="card-text">
                <br>Дата рождения: 22.11.1994<br>
                Возраст: 30<br>
                Город: Киев<br>
                </p>
              </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6">
            <div class="accordion" id="accordionExample">
              <div class="accordion-item">
                <h2 class="accordion-header">
                  <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                    «Сваты» (2008)
                  </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                  <div class="accordion-body">
                    Когда молодые родители Маша и Максим Ковалевы получили горящую путевку в Италию, то встали перед вопросом, с кем оставить на две недели любимую пятилетнюю дочку Женю. Родители Максима, интеллигентные, заносчивые Ковалевы, отказались, сославшись на дела, а родители Маши, простые и веселые деревенские жители Будько, не смогли оставить хозяйство. Супругам пришлось нанять няню, но в первый же день бабушки и дедушки с обеих сторон примчались к любимой внучке. Однако увидеть там друг друга они явно не ожидали и были неприятно удивлены. В течение следующих двух недель новоиспеченные сваты будут делать все, чтобы напакостить друг другу и переманить на свою сторону озорную и веселую Женю
                  </div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    «Сваты 2» (2009)
                  </button>
                </h2>
                <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                  <div class="accordion-body">
                    Молодая семья Маши и Максима Ковалевых готовится к рождению второго ребенка. Чем ближе долгожданное событие, тем больше у супругов возникает споров и разногласий. Всерьез обеспокоенная отношениями родителей, пятилетняя Женя Ковалева решает взять ситуацию в свои руки и вызывает на помощь обе пары бабушек и дедушек. Интеллигентные, тихие и заносчивые Ковалевы снова оказываются под одной крышей с бесцеремонными и шумными Будько. Все вместе они устраивают в квартире молодой семьи настоящий бедлам, который, как ни странно, заставляет Машу и Максима по-новому взглянуть на свои отношения и сказать спасибо своим родителям.
                  </div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    «Сваты 3» (2009)
                  </button>
                </h2>
                <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                  <div class="accordion-body">
                    Прошло несколько месяцев после событий второго сезона. Наступило лето. Маша и Максим уезжают в Нидерланды, а Женю оставляют в посёлке Кучугуры под присмотром Будько. К ним приезжают Ковалёвы, чтобы помочь присмотреть за внучкой и заодно подготовить её к поступлению в школу.
                    С этого момента в историю вписывается не менее главный герой — друг, кум, сосед и собутыльник Ивана Будько — Митяй (Дмитрий Александрович Буханкин). В этом сезоне сваты начинают ладить между собой: им вместе приходится вести здоровый образ жизни — не пить, не курить и не есть после 18.00; поддержать Ивана, которого уволили с работы, и даже провести свадьбу сына Митяя.
                    Благодаря множеству подготовительных уроков Ковалёвых Женя сдаёт экзамены в лицей, но оказывается, что родители хотят устроить её в школу в Нидерландах.
                  </div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                    «Сваты 4» (2010)
                  </button>
                </h2>
                <div id="collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                  <div class="accordion-body">
                    Действие происходит через год после событий третьего сезона, и вновь летом.
                    Сваты уехали в Турцию навестить детей и внуков. Такой отдых омрачается для сватов известием о разводе Ольги и Юрия. Родители Жени отправляют её в детский лагерь «Артек». Бабушки и дедушки отправились в Ялту. Но они туда поехали не столько отдыхать, сколько опекать свою любимую внучку Женечку. Сваты так и не научились жить без внучки, трудно им уживаться и друг с другом. По счастливому обстоятельству Максим находит сватам дом, который они превращают в отель, чтобы в знак благодарности за нахождение временного жилья все заработанные деньги отдать Маше и Максиму. Их главной конкуренткой по бизнесу является соседка Лариса, с которой сваты постоянно ссорятся, в том числе и из-за постояльцев. Спустя некоторое время Юрий мирится с Ольгой, но её родители уже узнают об их разводе, приезжают в отель и больше не принимают Юрия. Но всё же им удаётся уладить конфликт, и Юрий снова женится на Ольге.
                    Когда родители Ольги уезжают, сваты с удивлением обнаруживают на вокзале Митяя, который для того, чтобы приехать в Крым, продал кур Ивана. Из-за этого тот не собирается принимать своего кума в отель. В итоге сваты используют Митяя для того, чтобы усмирить Ларису, и даже придумывают для него легенду, по которой он является капитаном 3-го ранга. Изначально Митяй добивается внимания Ларисы только с целью угодить сватам, но вскоре по-настоящему влюбляется в неё. Однако тайное становится явным, и Лариса выгоняет Митяя. Вскоре она спасает Женю и находит примирение со сватами, которые потом помогают ей в трудной жизненной ситуации. Затем сваты летят в Грецию для участия в конкурсе отелей и одерживают там победу. За это время Митяй мирится с Ларисой и делает ей предложение, на которое она отвечает согласием. По возвращении сватов Лариса признаётся, что ждёт от него ребёнка.
                    За всё это время отель сватов посетили множество различных постояльцев, среди которых аферист Валентин Подкопаев (пытался ухаживать за Ольгой), красноярский отдел косметической компании «Kary May» во главе с Ксенией Павловной, Александр Беркович (коллега Юрия, который уже упоминался ранее), начинающая певица Гера (Екатерина) и многие другие.
                  </div>
                </div>
              </div>
            </div>
        </div>
    </div>
{% endblock %}